body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.app-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: white;
  border: 10px solid black; /* Marco tipo celular */
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
  display: block;
  margin: 0 auto 10px auto;
  width: 200px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
select,
textarea {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* PIE DE PÁGINA */
a div {
  font-size: 14px;
}

/* CALENDARIO */
.date-picker-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.react-datepicker {
  font-size: 14px;
  border: none;
  box-shadow: none;
}

.react-datepicker__month-container {
  width: 100%;
  max-width: 260px;
  margin: 0 auto;
}

.react-datepicker__day--sun {
  color: red;
}

.react-datepicker__day {
  margin: 2px;
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #007bff;
  color: white;
  border-radius: 50%;
}
/* Domingos en rojo forzado */
.domingo {
  color: red !important;
}